<!DOCTYPE html>
<html lang="{{ language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "MasterBuilder.pl" }}</title>
  <link rel="stylesheet" href="/public/styles.css">
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
  <header>
    <div class="header-row">
      <nav>
        <ul>
          <li>      
            <img src="/favicon.png" alt="MasterBuilder logo" id="logo" width="80" height="80">
          </li>

          {% for item in site.menu %}
            <li><a href="/{{ language }}/{{ item.url }}">{{ item.label[language] }}</a></li>
          {% endfor %}
          <li>
            {% for lang in site.languages %}
              {% if lang != language %}
                <a href="/{{ lang }}/" title="{{ lang | upper }}">
                  {% if lang == "en" %}
                    <img src="/public/flags/en.png" alt="English" style="vertical-align:middle;" />
                  {% elif lang == "pl" %}
                    <img src="/public/flags/pl.png" alt="Polski" style="vertical-align:middle;" />
                  {% endif %}
                </a>
              {% endif %}
            {% endfor %}
          </li>
          <li>
             <form action="/{{ language }}/search/">
             <input type="text" name="q" placeholder="{{ translations[language].search }}...">          
             </form>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "63d0d3a4484d4783a309f9cb04e3e2a9"}'></script>
  <!-- End Cloudflare Web Analytics -->
  <footer>
    <p>&copy; MasterBuilder.pl</p>
  </footer>
</body>
</html>