<!DOCTYPE html>
<html lang="{{ language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "MasterBuilder.pl" }}</title>
  <link rel="stylesheet" href="/public/styles.css">
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
  <header>
    <div class="header-row">
      <nav>
        <ul>
          <li>      
            <img src="/favicon.png" alt="MasterBuilder logo" id="logo" width="80" height="80">
          </li>

          {% for item in site.menu %}
            <li><a href="/{{ language }}/{{ item.url }}">{{ item.label[language] }}</a></li>
          {% endfor %}
          <li>
            {% for lang in site.languages %}
              {% if lang != language %}
                <a href="/{{ lang }}/" title="{{ lang | upper }}">
                  {% if lang == "en" %}
                    <img src="/public/flags/en.png" alt="English" style="vertical-align:middle;" />
                  {% elif lang == "pl" %}
                    <img src="/public/flags/pl.png" alt="Polski" style="vertical-align:middle;" />
                  {% endif %}
                </a>
              {% endif %}
            {% endfor %}
          </li>
          <li>
             <form action="/{{ language }}/search/">
             <input type="text" name="q" placeholder="{{ translations[language].search }}...">          
             </form>
          </li>
          <li>
             <a href="https://www.facebook.com/pl.masterbuilder" target="_blank" rel="noopener" title="Facebook Page" style="vertical-align:middle;"><svg width="32px" height="32px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#1877F2" d="M15 8a7 7 0 00-7-7 7 7 0 00-1.094 13.915v-4.892H5.13V8h1.777V6.458c0-1.754 1.045-2.724 2.644-2.724.766 0 1.567.137 1.567.137v1.723h-.883c-.87 0-1.14.54-1.14 1.093V8h1.941l-.31 2.023H9.094v4.892A7.001 7.001 0 0015 8z"></path><path fill="#ffffff" d="M10.725 10.023L11.035 8H9.094V6.687c0-.553.27-1.093 1.14-1.093h.883V3.87s-.801-.137-1.567-.137c-1.6 0-2.644.97-2.644 2.724V8H5.13v2.023h1.777v4.892a7.037 7.037 0 002.188 0v-4.892h1.63z"></path></g></svg></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "307001038ff84970a9335b23a8967323"}'></script>
  <!-- End Cloudflare Web Analytics -->  
  <footer>
    <p>
      &copy; MasterBuilder.pl
      
      <a href="https://www.facebook.com/pl.masterbuilder" target="_blank" rel="noopener" title="Facebook Page" style="vertical-align:middle;"><svg width="32px" height="32px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#1877F2" d="M15 8a7 7 0 00-7-7 7 7 0 00-1.094 13.915v-4.892H5.13V8h1.777V6.458c0-1.754 1.045-2.724 2.644-2.724.766 0 1.567.137 1.567.137v1.723h-.883c-.87 0-1.14.54-1.14 1.093V8h1.941l-.31 2.023H9.094v4.892A7.001 7.001 0 0015 8z"></path><path fill="#ffffff" d="M10.725 10.023L11.035 8H9.094V6.687c0-.553.27-1.093 1.14-1.093h.883V3.87s-.801-.137-1.567-.137c-1.6 0-2.644.97-2.644 2.724V8H5.13v2.023h1.777v4.892a7.037 7.037 0 002.188 0v-4.892h1.63z"></path></g></svg></a>
    </p>
  </footer>
</body>
</html>