{% extends "base.njk" %}
{% block content %}
  <h1 class="post-title">{{ title }}</h1>
  
  {% if tags and 'post' in tags %}
  <div class="post-meta-header">
    <span class="post-date">{{ page.date | readableDate(language) }}</span>
    {% if tags %}
      <div class="tags-container">
        {% for tag in tags %}
          {% if tag != 'post' and tag != 'news' and tag != 'moc' %}
            <a href="/{{ language }}/tags/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  {% endif %}
  
  {% if image %}
    <img src="{{ image }}" alt="{{ title }}" class="post-main-image" />
  {% endif %}
  {% if instruction %}
    <button class="instruction-button" onclick="window.open('{{ instruction }}', '_blank')">
      {{ translations[language].button }}
    </button>
  {% endif %}
  <div class="post-content">
    {{ content | safe }}
  </div>
{% endblock %}