{% extends "base.njk" %}
{% block content %}
  <h1 class="post-title">{{ title }}</h1>
  {% if image %}
    <img src="{{ image }}" alt="{{ title }}" class="post-main-image" />
  {% endif %}
  {% if instruction %}
    <button class="instruction-button" onclick="window.open('{{ instruction }}', '_blank')">
      {{ translations[language].button }}
    </button>
  {% endif %}
  <div class="post-content">
    {{ content | safe }}
  </div>
  <!-- If tags contain moc or post add diqus script in proper langualge -->
  {% if tags and ("moc" in tags or "post" in tags) %}
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        var url = 'https://masterbuilder.pl/' + '{{ page.url | url }}';
        this.page.url = url;
        this.page.identifier = '{{ page.url }}';
        this.language = '{{ language }}';
        this.page.title = '{{ title }}';
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://masterbuilder-pl.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
{% endblock %}