{% macro post_tiles(posts) %}
  <div class="search-results">
    {% for post in posts %}
      <div class="search-tile">
        <a href="{{ post.url }}" class="search-tile-link">
          <div class="search-tile-img-wrap">
            <img src="{{ post.data.image or '/favicon.png' }}" alt="{{ post.data.title }}" class="search-tile-img" />
          </div>
          <div class="search-tile-content">
            <h3>{{ post.data.title }}</h3>
            <p>{{ post.templateContent | striptags | truncate(120, true, '...') }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
